@font-face {
    font-family: 'NotoSansRegular';
    src: url('../fonts/notosans-regular.eot');
    src: url('../fonts/notosans-regular.eot') format('embedded-opentype'),
    url('../fonts/notosans-regular.woff') format('woff'),
    url('../fonts/notosans-regular.ttf') format('truetype'),
    url('../fonts/notosans-regular.svg#NotoSansRegular') format('svg');
}
@font-face {
    font-family: 'TitilliumWebRegular';
    src: url('../fonts/titilliumweb-regular.eot');
    src: url('../fonts/titilliumweb-regular.eot') format('embedded-opentype'),
    url('../fonts/titilliumweb-regular.woff') format('woff'),
    url('../fonts/titilliumweb-regular.ttf') format('truetype'),
    url('../fonts/titilliumweb-regular.svg#TitilliumWebRegular') format('svg');
}
@font-face {
    font-family: 'Myriad Pro';
    font-style: normal;
    font-weight: normal;
    src: local('Myriad Pro Condensed'), url('../fonts/myriad/MYRIADPRO-COND.woff') format('woff');
}
.row{
    width: 100%;
    position: relative;
    clear: both;
}
.container{
    width: 1076px;
    margin: auto;
    position: relative;
}
.img-container img{
    width: 100%;
    height: 100%;
}
ul.menu{
    margin: 0px;
}
ul.menu li{
    display: inline;
    list-style: none;
    margin: 0px;
}
ul.menu li a{
    display: inline-block;
    text-decoration: none;
}
a{
    color: #1e9eb4;
    font-family: NotoSansRegular;
    text-decoration: none;
    border:none;
    outline: none;
    transition: .3s ease-in;
}
a:hover{
    text-decoration: underline;
    transition: .3s ease-in;
}
a:active, a:visited, a:focus{
    outline: none;
    border: none;
}
i, .sprite{
    display: inline-block;
    vertical-align: text-bottom;
    background: url('../img/sprites.png');
    height: 22px;
    width: 22px;
}
i.black-arrow{
    width: 24px;
    height: 24px;
    background-position: -6px -176px;
}
a:hover i.black-arrow{
    background-position: -30px -176px;
}
.sprite.eng{
    width: 27px;
    height: 22px;
    background-image: url(../img/flag2.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
}
.sprite.french{
    width: 30px;
    height: 25px;
    background-image: url(../img/flag1.png);
    background-size: 100% auto;
    background-position: center center;
    background-repeat: no-repeat;
}
.social-blue{
    display: inline-block;
    width: 42px;
    height: 41px;
    background-image: url('../img/sprites.png');
    background-position: 0px -93px;
}
.social-blue.fb{
    background-position: 0px -93px;
}
.social-blue:hover{
    background-position: 0px -134px;
}
.social-blue.inactive{
    cursor: default;
}
.social-blue.fb:hover, .social-blue.fb.inactive{
    background-position: 0px -134px;
}
.social-blue.twitter{
    background-position: -51px -93px;
}
.social-blue.twitter:hover, .social-blue.twitter.inactive{
    background-position: -51px -134px;
}
.social-blue.blog{
    background-position: -101px -93px;
}
.social-blue.blog:hover, .social-blue.blog.inactive{
    background-position: -101px -134px;
}
.social-blue.youtube{
    background-position: -150px -93px;
}
.social-blue.youtube:hover, .social-blue.youtube.inactive{
    background-position: -150px -134px;
}
.social-blue.gplus{
    background-position: -200px -93px;
}
.social-blue.gplus:hover, .social-blue.gplus.inactive{
    background-position: -200px -134px;
}
.social-blue.linkedin{
    background-position: -250px -93px;
}
.social-blue.linkedin:hover, .social-blue.linkedin.inactive{
    background-position: -250px -134px;
}
.blue-header-title{
    margin: 2px 0px 10px;
    padding: 3px 13px;
    background: none repeat scroll 0% 0% #34B4CA;
    color: #FFF;
    font-size: 16px;
    font-family: TitilliumWebRegular;
    border-radius: 4px;
    font-weight: 300;
}
p.blue-header-title{
    line-height: 22px;
}
.title-stripped{
    position: relative;
    display: block;
    width: 100%;
    background: url('../img/pattern4.png') repeat-x center center;
    text-align: center;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
.title-stripped .text{
    background: url('../img/pattern2.png');
    margin: 0 0 0 0;
    padding: 0 20px 0 20px;
    font-size: 35px;
    font-family: TitilliumWebRegular;
    color: #d72e00;
    text-transform: uppercase;
    font-weight: 700;
}
.red-button{
    border: none;
    border-radius: 5px;
    background: #e83100; /* Old browsers */
    background: -moz-linear-gradient(top,  #e83100 0%, #bf0d14 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e83100), color-stop(100%,#bf0d14)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #e83100 0%,#bf0d14 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #e83100 0%,#bf0d14 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #e83100 0%,#bf0d14 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #e83100 0%,#bf0d14 100%); /* W3C */
    padding: 5px 15px;
    margin: 0px 0px 0px 0px;
    text-transform: none;
    color: white;
    font-family: NotoSansRegular;
    font-size: 13px;
}
.red-button:hover, .red-button.disabled{
    text-decoration: none;
    background: #e83100; /* Old browsers */
    background: -moz-linear-gradient(top,  #e83100 0%, #bf0d14 5%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e83100), color-stop(5%,#bf0d14)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #e83100 0%,#bf0d14 5%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #e83100 0%,#bf0d14 5%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #e83100 0%,#bf0d14 5%); /* IE10+ */
    background: linear-gradient(to bottom,  #e83100 0%,#bf0d14 5%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e83100', endColorstr='#bf0d14',GradientType=0 ); /* IE6-9 */
}
.red-button.disabled{
    cursor: default;
}
.blue-button{
    background: #00b7ea; /* Old browsers */
    color: white;
    border: none;
    font-size: 13.3px;
    padding: 5px 11px 5px 11px;
    border-radius: 4px;
    background: -moz-linear-gradient(top,  #00b7ea 0%, #009ec3 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00b7ea), color-stop(100%,#009ec3)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #00b7ea 0%,#009ec3 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #00b7ea 0%,#009ec3 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #00b7ea 0%,#009ec3 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #00b7ea 0%,#009ec3 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b7ea', endColorstr='#009ec3',GradientType=0 ); /* IE6-9 */
}
.blue-button:hover{
    background: #00b7ea; /* Old browsers */
    background: -moz-linear-gradient(top,  #00b7ea 0%, #009ec3 1%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00b7ea), color-stop(1%,#009ec3)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #00b7ea 0%,#009ec3 1%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #00b7ea 0%,#009ec3 1%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #00b7ea 0%,#009ec3 1%); /* IE10+ */
    background: linear-gradient(to bottom,  #00b7ea 0%,#009ec3 1%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b7ea', endColorstr='#009ec3',GradientType=0 ); /* IE6-9 */
    text-decoration: none;
}
.main-content p{
    color: #7b7b7b;
    font-family: NotoSansRegular;
    font-size: 14px;
}
.form-container{
    background: white;
    border: 1px solid #34b4ca;
    border-radius: 8px;
    margin: 0 0 20px 0;
}
.form-container .inside{
    padding: 20px 20px 20px 20px;
}
.form-container h3{
    margin: 0px 0px 20px 0;
    padding: 0px;
    font-family: TitilliumWebRegular;
    font-size: 22px;
    color: #34b4ca;
    font-style: italic;
}
.form-container p{
    font-size: 18px;
    color: #868686;
}
.form-container .blue-header{
    padding: 5px 10px;
    border-radius: 5px;
}
.form-container .blue-header .radio{
    margin: 0px 7px;
}
.form-field{
    line-height: 30px;
    font-size: 14px;
    font-family: NotoSansRegular;
    color: #868686;
    margin: 0 20px 20px 0px;
}
.form-field.half{
    width: 300px;
    float: left;
    
}
.form-field.antibot-check{
    padding: 0 0 20px 0;
}
.antibot-code-container{
    width: 180px;
}
.antibot-check .input{
    margin-top: 10px;
}

.icon-sound{
    width: 20px;
    height: 20px;
    background-position: -568px -300px;
}
.icon-refresh{
    width: 20px;
    height: 20px;
    background-position: -568px -320px;
}
.form-field .lagain{
    margin-top: 2px;
}
.form-field br{
    margin: 3px 0px;
}
.form-field .label{
    display: inline-block;
    width: 165px;
}
.form-field .img-placeholder{
    width: 82px;
    height: 78px;
    border: 1px solid #bcbcbc;
    margin: 0 5px 0 0;
}
.form-field .img-placeholder img{
    width: 100%;
    height: 100%;
}
.img-placeholder i{
    margin: 25px 27px;
}
i.icon-plus{
    width: 28px;
    height: 28px;
    background-position: -282px -214px;
}
.notice{
    font-size: 14px;
    color: #868686;
}
.form-container .notice{
    width: 310px;
    float: left;
}
.form-container p.term-notice{
    font-size: 14px;
}
.form-container input[type="submit"]{
    margin: 0 8px 0 0;
}
.input-group-inline{
    display: inline-block;
}
.input-group-inline>div{
    float: left;
}
.input-group-inline .input{
    margin: 0px 10px 0px 0px;
}
.input-group-inline .input:last-child{
    margin: 0px;
}
.input-container{
    position: relative;
}
.input-container .input-addon{
    position: absolute;
    right: 17px;
    top: 0px;
}
.input-container button{
    padding: 3px 16px;
    text-transform: uppercase;
}
i.icon-calender{
    height: 27px;
    width: 20px;
    background-position: -253px -212.5px;
}
.input{
    border: 1px solid #bcbcbc;
    height: 30px;
    font-size: 14px;
    font-family: NotoSansRegular;
    color: #333;
    padding: 0 0px 0 10px;
    line-height: 30px;
}
select.input{
    height: 30px;
    vertical-align: middle;
    padding: 3px;
}
textarea.input{
    height: 63px;
}
.input-xlong{
    width: 630px;
}
.input-long{
    width: 300px;
}
.input-xmedium{
    width:210px;
}
.input-medium{
    width: 130px;
}
.input-small{
    width: 100px;
}
.input-xsmall{
    width: 80px;
}
.input-xsmall2{
    width: 70px;
}
.input-xxsmall{
    width:40px;
}
.input-xxxsmall{
    width: 26px;
}
.input::-webkit-input-placeholder { /* WebKit browsers */
    color:    #868686;
    opacity: 1;
}
.input::-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #868686;
    opacity: 1;
}
.input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #868686;
    opacity: 1;
}
.input:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #868686;
    opacity: 1;
}
.form-container .red-button{
    padding: 5px 20px;
    font-size: 15px;
}
/*
Search Result Page
*/
.filters{
    font-family: NotoSansRegular;
    font-size: 13.3px;
    color: #808080;
    width: 800px;
    margin: 0 0 30px 0;
}
.filters .col{
    padding: 0 49px 0 3px;
    float: left;
}
.filters .vmenu li{
    margin: 7px 0 0 0;
}
.filters .vmenu li input{
    margin: 0 5px 0 0;
}
.filters .vmenu li a{
    color: #34b4ca;
}
.filters .vmenu li a.active, .filters .vmenu li a:hover{
    color: #d72e00;
}
.filters h5{
    color: #d72e00;
    font-size: 14px;
    margin: 15px 0 0 0;
    padding: 0 0 0 0;
}
.paging-option{
    font-family: NotoSansRegular;
    font-size: 13.3px;
    color: #808080;
    line-height: 30px;
}
.toggle-filter-btn{
    text-transform: none;
}
i.white-arrow-down{
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #ffffff;
    vertical-align: middle;
    margin-left: 8px;
}
.results-container{
    padding: 20px 0 10px 0;
}

.result-item{
    font-family: NotoSansRegular;
    font-size: 14.5px;
    color: #8f8f8f;
    border: 1px solid #34b4ca;
    border-radius: 8px;
    background: white;
    margin: 7px 0 15px 0;
}
.result-item .inside{
    padding: 15px 20px 15px 20px;
}
.result-item .img-container{
    width: 86px;
    height: 86px;
}
.result-item .info{
    margin: 0 0 0 60px;
}
.result-item h3{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    font-size: 15px;
    color: #d72e00;
}
.result-item h3 a{
    font-family: NotoSansRegular;
    font-size: 18px;
    color: #d72e00;
}
.result-item .num{
    display: inline-block;
    padding: 0px 0px;
    font-size: 11px;
    border-radius: 50px;
    background: none repeat scroll 0% 0% #34B4CA;
    color: #FFF;
    margin: 0px 10px 0px -36px;
    line-height: 25px;
    width: 26px;
    text-align: center;
}
.result-item .stats{
    margin: 6px 0px 0px 0px;
    text-align: left;
    width: 175px;
}
.result-item .rating{

}
.result-item address{
    font-style: normal;
    font-family: Myriad Pro;
    font-size: 16px;
    line-height: 22px;
}
.result-item .review-count{
    margin: -5px 0px 11px 3px;
}
.result-item .review-count a{
    color: #797979;
    font-size: 13px;
    font-family: NotoSansRegular;
}
.result-item .cat-info{
    margin: -6px 0px 0px 2px;
    font-size: 14px;
}
.result-item .red-button{
    padding: 4px 13px;
    font-size: 13px;
    margin: 4px 0px;
}
.result-item .comments-stats{
    margin: 15px 0px 0px 0px;
}
.result-item .comments-stats a{
    color: #797979;
    font-family: NotoSansRegular;
}
i.icon-comment2{
    width: 24px;
    height: 22px;
    background-position: -215px -220px;
    background-color: #34b4ca;
    border-radius: 20px;
}
.comment-button{
    text-transform: none;
    margin: 0 0 0 10px;
}
.comments{
    margin: 10px 0 0 0;
    padding: 10px 0 0 0;
    border-top: 1px solid #dadada;
}
.comment{
    margin: 3px 0 5px 0;
}
.comment .img-container{
    width: 36px;
    height: 36px;
    padding: 3px;
    margin: 5px 0 0 0;
}

.comment .desc{
    width: 545px;
    margin: 0 0 0 20px;
}
.comment h5{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    font-size: 15px;
    font-family: NotoSansRegular;
    font-weight: 400;
}
.comment h5 .date{
    margin-left: 15px;
    font-weight: 400;
}
.comment h5 a{
    font-size: 15px;
    font-family: NotoSansRegular;
}
.comment p{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    font-size: 13px;
}
.comment input[type="text"]{
    width: 470px;
    height: 30px;
    border: 1px solid #c6c6c6;
    margin: 5px 0 0 0;
    padding: 0 0 0 10px;
}

.others-review{
    max-height: 230px;
}
/*Header Area*/
header .row.top{
    height: 60px;
    background-color: #34b4ca;
    background-image: url('../img/pattern1.png');
    background-repeat: repeat-x;
    background-position: 0px 55px;
}
header .row.middle{
    height: 108px;
    background-color: #f9f9f9;
}
header .row.bottom{
    height: 52px;
    background-color: #dc2e00;
    background-image: url('../img/pattern3.png');
    background-repeat: repeat-x;
}
.top-menu-container{
    float: left;
    margin-left: -30px;
    margin-top: 10px;
}
ul.top-menu{
    padding: 0px;
}
ul.top-menu li{

}
ul.top-menu li a{
    font-family: NotoSansRegular;
    font-size: 14px;
    color: #dcdcdc;
    padding: 5px 7px;
}
ul.top-menu li a.more-btn{
    background: white;
    color: #13899d;
    border-radius: 16px;
    padding: 7px 15px;
    -webkit-box-shadow: 1px 2px 5px rgba(50, 50, 50, 0.4);
    -moz-box-shadow:    1px 2px 5px rgba(50, 50, 50, 0.4);
    box-shadow:         1px 2px 5px rgba(50, 50, 50, 0.4);
}
ul.top-menu li a:hover{
    color: white;
}
ul.top-menu li a.more-btn:hover{
    color: #13899d;
}
.enter-notice{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 298px;
    height: 32px;
    background: url('../img/sprites.png') no-repeat;
    background-position: -280px -434px;
    z-index: 100;
    padding: 20px 20px;
}
.enter-notice a.btn{
    font-family: NotoSansRegular;
    font-size: 14px;
    color: #000;
    margin: 0px 5px;
    border-radius: 16px;
    padding: 7px 5px 5px 15px;
    background: #ffcb08;
    -webkit-box-shadow: 1px 2px 5px rgba(50, 50, 50, 0.4);
    -moz-box-shadow:    1px 2px 5px rgba(50, 50, 50, 0.4);
    box-shadow:         1px 2px 5px rgba(50, 50, 50, 0.4);
    text-decoration: none;
    text-transform: uppercase;
}
.enter-notice a.btn i{
    margin-left: 5px;
}
.current-user-module{
    color: #fff;
    font-family: NotoSansRegular;
    margin: -10px 0px 0px 5px;
}
.current-user-module img{
    width: 50px;
    height: 50px;
}
.current-user-module .info{
    margin-left: 10px;
    margin-top: 5px;
}
.current-user-module a{
    color: #fff;
    font-family: Arial;
}
.current-user-module a.name{
    display: block;
}
.current-user-module a.small{
    font-size: 13px;
}
.logo-container{
    float: left;
}
.logo-container h1.logo{
    margin: 8px 0px;
    padding: 0px;
}
.logo-container h1.logo a{
    text-indent: -99999px;
    display: block;
    width: 262px;
    height: 88px;
    margin: 0px 0px;
    padding: 0px;
    background: url('../img/logo.png') no-repeat;
}
.stay-connected{
    float: right;
    width: 395px;
}
.stay-connected .graphic{
    display: inline-block;
    width: 210px;
    height: 40px;
    /*background: url('../img/sprites.png') no-repeat 0px -53px;*/
    background: url("../img/green-tab.png") no-repeat;
    color:white;
    margin: 37px 0px 0px 0px;
    float: left;
    font-family: NotoSansRegular;
    font-weight: 200;
    font-size: 16px;
    padding: 9px 0px 0px 0px;
    text-align: center;
}
.stay-connected .social-icons-container{
    float:left;
    margin: 35px 0px 0px 0px;
}
.social-blue{
    margin: 0px 0px 0px 4px;
}
.main-menu-container{
    padding: 8px 0px 0px 0px;
    
}
.main-menu{
    padding: 0px;
}
.main-menu li a{
    color: #dcdcdc;
    font-family: NotoSansRegular;
    font-size: 17px;
    margin: 0px 10px 0px 0px;
    padding: 5px 20px 5px 0px;
}
.main-menu li a:hover{
    color: white;
}
.row.search-section{
    background: #ededed; /* Old browsers */
    background: -moz-linear-gradient(top,  #ededed 0%, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ededed), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ededed 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ededed 0%,#ffffff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ededed 0%,#ffffff 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ededed 0%,#ffffff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
    padding: 0px 0px 36px 0px;
    -webkit-box-shadow: 0px 2px 2px rgba(50, 50, 50, 0.41);
    -moz-box-shadow:    0px 2px 2px rgba(50, 50, 50, 0.41);
    box-shadow:         0px 2px 2px rgba(50, 50, 50, 0.41);
}
#mainsearchform3{
    width:970px;
    margin: auto;
}
body.searchpage #mainsearchform3{
    margin: 0;
}
.search-section .field{
    float: left;
    margin: 45px 30px 0px 0px;
}
.search-section .field .tooltip{
    position: relative;
    padding: 10px 10px 10px 10px;
    margin: 30px 0px 0px 0px;
    background: #ffe277;
    border-radius: 7px;
    width: 275px;
    color: #272727;
    font-family: NotoSansRegular;
    font-size: 14px;
    -webkit-box-shadow: 1px 1px 1px rgba(50, 50, 50, 0.24);
    -moz-box-shadow:    1px 1px 1px rgba(50, 50, 50, 0.24);
    box-shadow:         1px 1px 1px rgba(50, 50, 50, 0.24);
}
.search-section .field .tooltip .arrow-up{
    position: absolute;
    display: block;
    width: 33px;
    height: 18px;
    top: -18px;
    left: 30px;
    background: url('../img/sprites.png') no-repeat -58px -180px;
}
.search-section .field input[type="text"]{
    width: 370px;
    height: 43px;
    background:  white;
    border: 1px solid #958e86;
    color: #464646;
    opacity: 1;
    font-family: NotoSansRegular;
    font-size: 24px;
    padding: 0px 0px 0px 10px;
}
.search-section .field input[type="text"]::-webkit-input-placeholder { /* WebKit browsers */
    color:    #464646;
    opacity: 1;
}
.search-section .field input[type="text"]:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #464646;
    opacity: 1;
}
.search-section .field input[type="text"]::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #464646;
    opacity: 1;
}
.search-section .field input[type="text"]:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #464646;
    opacity: 1;
}
.search-btn{
    border: none;
    border-radius: 5px;
    background: #e83100; /* Old browsers */
    background: -moz-linear-gradient(top,  #e83100 0%, #bf0d14 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e83100), color-stop(100%,#bf0d14)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #e83100 0%,#bf0d14 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #e83100 0%,#bf0d14 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #e83100 0%,#bf0d14 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #e83100 0%,#bf0d14 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e83100', endColorstr='#bf0d14',GradientType=0 ); /* IE6-9 */
    padding: 9px 32px 9px 16px;
    text-transform: uppercase;
    color: white;
    font-family: NotoSansRegular;
    font-size: 18px;
    transition: .5s ease-in;
}
.search-btn:hover{
    background: #e83100; /* Old browsers */
    background: -moz-linear-gradient(top,  #e83100 0%, #bf0d14 5%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e83100), color-stop(5%,#bf0d14)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #e83100 0%,#bf0d14 5%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #e83100 0%,#bf0d14 5%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #e83100 0%,#bf0d14 5%); /* IE10+ */
    background: linear-gradient(to bottom,  #e83100 0%,#bf0d14 5%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e83100', endColorstr='#bf0d14',GradientType=0 ); /* IE6-9 */
    transition: .5s ease-in;

}
i.search-icon{
    width: 20px;
    height: 25px;
    background-position: -138px -178px;
    margin-right: 12px;
}
/*End of Header*/


/*Body Area*/
.body{
    font-family: NotoSansRegular;
}
.body-section{
    background: url('../img/pattern2.png');
}
.blue-header{
    background: #34b4ca;
    color: #fff;
    font-family: TitilliumWebRegular;
    margin: 0px 0px 30px 0px;
}
.blue-header h2{
    padding: 5px 0px 8px;
    margin: 0px;
    font-weight: 500;
}
h2.blue-header, h3.blue-header{
    border-radius: 6px;
    padding: 5px 13px;
    font-size: 16px;
    margin:0px;
}
.blue-arrow-down{
    position: absolute;
    bottom: -13px;
    left: 110px;
    display: block;
    width: 42px;
    height: 18px;
    background: url('../img/sprites.png') no-repeat -206px -251px;
}
.thumbnails-wrapper{
    width: 100%;
    overflow: hidden;
}
.thumbnails{
    width: 5000px;
}
.thumbnail{
    float: left;
    margin: 0px 20px 20px 0px;
}
.last-thumbnail{
    margin: 0px 0px 0px 0px;
}
.homepage-thumbnail{

}
.img-container-square{
    position: relative;
    background: white;
    border: 1px solid #dcdcdc;
    padding: 7px;
    width: 242px;
    height: 174px;
    margin: 0px 0px 8px 0px;
}
.img-container-square .caption{
    position: absolute;
    bottom: 5px;
    z-index: 100;
    width: 227px;
    line-height: normal;
    background: rgba(49, 176, 197, 1);
    opacity: .8;
    padding: 2px 0px 2px 15px;
    text-align: left;
    color: white;
    font-size: 16px;
    font-family: TitilliumWebRegular!important;
    transition: .2s ease-out;
    font-weight: 400;
}
.img-container-square:hover .caption{
    padding: 9px 0px 9px 15px;
    transition: .2s ease-in;
    opacity: 1;
}
.img-container-square .caption a{
    color: white;
}
.thumbnail .details{
    width: 90%;
    margin: auto;
}
.review-count a{
    color: #696969;
    font-family: NotoSansRegular;
    font-size: 13px;
}
.review-count a:hover{
    text-decoration: underline;
}
/*Content Area*/
.main-content{
    width: 688px;
    margin-top: 29px;
}
.sidebar{
    width: 335px;
    padding: 5px 0px 0px 0px;
    margin-top: 29px;
}
.tabs{
    margin: 40px 0px;
}
#tabs1{
    margin-top: 7px;
}
.tabs-menu{
    padding: 0px;
    list-style: none;
    margin: 9px 0px 9px 30px;
}
.tabs-menu li{
    display: inline;
}
.tabs-menu-button{
    background: #34b4ca;
    padding: 10px 20px 10px 20px;
    margin: 0px 8px 0px 0px;
    font-family: NotoSansRegular;
    font-size: 16px;
    color: #fff;
    -moz-border-radius-topleft: 9px;
    -webkit-border-top-left-radius: 9px;
    border-top-left-radius: 9px;
    -moz-border-radius-topright: 9px;
    -webkit-border-top-right-radius: 9px;
    border-top-right-radius: 9px;
    transition: .3s ease-out;
}
.tabs-menu-button:hover{
    text-decoration: none;
}
li.ui-state-active .tabs-menu-button{
    background: #ed1c24;
    cursor: default;
    transition: .3s ease-in;
}
.ui-tabs-panl, .zucko-tabs-container{
    background: white;
    border: 1px solid #34b4ca;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    padding: 10px 10px 10px 10px;
}
.category-list{
    padding: 0px 0 0 25px;
}
.category-list li{
    display:inline;
    list-style: none;
}
.category .icon{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #000;
    margin: 0px 20px 0px 0px;
    vertical-align: middle;
}
.category{
    font-family: Myriad Pro;
    margin: 15px 8px 5px 10px;
    padding: 5px 0px 5px 5px;
    font-size: 20px;
    width: 180px;
    display: inline-block;
    transition: .3s ease-in-out;
    border-radius: 30px;
}
a.category:hover{
    text-decoration: none;
    color: #fff;
    transition: .3s ease-in-out;
}

.icon-roulottes{
    background-position: 4px -204px;
}
.icon-assistance{
    background-position: -346px -310px;
}
.icon-shopping{
    background-position: -35px -204px;
}
.icon-hobbies{
    background-position: -397px -309px;
}
.icon-hotels{
    background-position: -79px -204px;
}
.icon-transports{
    background-position: -121px -205px;
}
.icon-clubs{
    background-position: -444px -309px;
}
.icon-bars{
    background-position: -167px -203px;
}
.icon-restaurants{
    background-position: -481px -309px;
}
.icon-sports{
    background-position: -478px -213px;
}
.icon-tie{
    background-position: -527px -213px;
}
.color-green{
    color: #32a435;
}
.color-green .icon{
    background-color: #32a435;
}
a.category.color-green:hover{
    background-color: #32a435;
}
.color-lightred{
    color: #e602fa;
}
.color-lightred .icon{
    background-color: #e602fa;
}
a.category.color-lightred:hover{
    background-color: #e602fa;
}
.color-arsenic{
    color: #2f314e;
}
.color-arsenic .icon{
    background-color: #2f314e;
}

a.category.color-arsenic:hover{
    background-color: #2f314e;
}
.color-barnred{
    color: #72090b;
}
.color-barnred .icon{
    background-color: #72090b;
}

a.category.color-barnred:hover{
    background-color: #72090b;
}
.color-orange{
    color: #ff5f1e;
}
.color-orange .icon{
    background-color: #ff5f1e;
}

a.category.color-orange:hover{
    background-color: #ff5f1e;
}
.color-green{
    color: #174c0e;
}
.color-green .icon{
    background-color: #174c0e;
}

a.category.color-green:hover{
    background-color: #174c0e;
}
.color-red{
    color: #c60c0c;
}
.color-red .icon{
    background-color: #c60c0c;
}

a.category.color-red:hover{
    background-color: #c60c0c;
}
.color-lightblue{
    color: #1e8987;
}
.color-lightblue .icon{
    background-color: #1e8987;
}

a.category.color-lightblue:hover{
    background-color: #1e8987;
}
.color-purple{
    color: #88234a;
}
.color-purple .icon{
    background-color: #88234a;
}

a.category.color-purple:hover{
    background-color: #88234a;
}
.color-blue{
    color: #2e409e;
}
.color-blue .icon{
    background-color: #2e409e;
}

a.category.color-blue:hover{
    background-color: #2e409e;
}
.color-deepblue{
    color: #463581;
}
.color-deepblue .icon{
    background-color: #463581;
}

a.category.color-deepblue:hover{
    background-color: #463581;
}
.activity-item{
    font-family: Myriad Pro;
    font-size: 16px;
    padding: 0px 0px 15px 0px;
    border-bottom: 2px solid #34b4ca;
    margin: 15px 10px 15px 10px;
}
.activity-item.last{
    border: none;
}
.activity-item .img-container{
    width: 64px;
    height: 64px;
    margin: 10px 0 0 0;
}
.activity-item .details{
    width: 537px;
    padding: 0px 0px 0px 20px;
}
.activity-item h5{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    font-size: 18px;
    color: #808080;
    font-weight: 400;
}
.activity-item p{
    color: #808080;
    margin: 8px 0px;
}
.activity-item h5 .date{
    float: right;
    font-size: 15px;
    font-weight: 400;
}
.activity-item .metas{
    font-size: 14px;
    color: #858585;
}
.activity-item .metas a{
    color: #858585;
}
i.separator{
    display: inline-block;
    background-color: #34b4ca;
    width: 4px;
    height: 4px;
    border-radius: 4px;
    vertical-align: middle;
    margin: 0px 0px 0px 4px;
}
i.icon-comment{
    width: 16px;
    height: 12px;
    background-position: -226px -188px;
    vertical-align: middle;
}
i.icon-like{
    width: 16px;
    height: 14px;
    background-position: -242px -184px;
    vertical-align: middle;
    margin: 0px 3px 0px 3px;
}
i.icon-view{
    width: 21px;
    height: 15px;
    background-position: -257px -186px;
    vertical-align: middle;
    margin: 0px 5px 0px 5px;
}
/*end of content area*/

/*Left Sidebar*/

/*end of left sidebar*/

/*Right Sidebar*/
.sidebar-widget{
    width: 100%;
    border: 1px solid #34b4ca;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    background: white;
    margin: 0px 0px 20px 0px;
}
.sidebar-widget-inside{
    padding: 7px 7px 7px 7px;
}
.widget-title{
    margin: 0px 0px 3px;
    padding: 4px 0px 5px 15px;
    background: none repeat scroll 0% 0% #34B4CA;
    color: #FFF;
    font-size: 17px;
    font-family: TitilliumWebRegular;
    border-radius: 5px;
    font-weight: 400;
}
.add-button{
    display: block;
    width: 234px;
    height: 43px;
    background: url("../img/sprites.png") no-repeat scroll -5px -360px transparent;
    font-family: TitilliumWebRegular;
    font-style: italic;
    font-size: 21px;
    color: white;
    padding: 6px 0px 0px 65px;
    margin: 10px 0px 10px 10px;
    transition: none;
}
.add-button:hover{
    text-decoration: none;
    background-position: -318px -360px;
    transition: none;
}
.news-item{
    border-bottom: 1px solid #34b4ca;
    padding: 15px 5px 12px;
}
.news-item .img-container{
    width: 64px;
    height: 64px;
}
.img-container{
    background: white;
    padding: 5px;
}
.img-container-curve{
    border-radius: 5px;
    padding: 5px;
    box-shadow: 1px 1px 3px rgba(33, 33, 33, 0.22);
    border: 1px solid rgba(22,22,22,0.2);
}
.news-item .details{
    width: 208px;
    padding: 0px 0px 0px 20px;
}
.news-item .details h5{
    margin: 0px;
    padding: 0px;
}
.news-item .details h5 a{
    font-size: 16px;
    font-family: NotoSansRegular;
    color: #34B4CA;
    font-weight: 300;
}
.news-item .details p{
    font-size: 14px;
    color: #797979;
    font-family: NotoSansRegular;
    margin: 2px 0px;
    word-wrap: break-word;
}
.news-item a.see-more{
    color: #343434;
    font-size: 13px;
    font-style: italic;
}
.news-item.last{
    border-bottom: none;
    padding-bottom: 0px;
}

.mobile-app-notice{
    display: block;
    width: 334px;
    height: 503px;
    background: url('../img/mobile-app.jpg') no-repeat;
    margin: 0 0 20px 0;
    position: relative;
}
.mobile-app-notice.fr{
    background-image: url(../img/mobile-app-fr.jpg);
}
.iphone-app-btn, .android-app-btn{
    display: block;
    width: 209px;
    height: 49px;
    background: url('../img/sprites.png') no-repeat;
    position: absolute;
    left: 61px;
}
.iphone-app-btn{
    top: 382px;
    background-position: -4.6px -415.6px;
}
.android-app-btn{
    top: 441px;
    background-position: -4.6px -477.6px;
}
.category-widget .category-list{
    margin: 0;
    padding: 0 0 0 30px;
}
.category-widget .category{
    margin: 7px 0px 5px 5px;
}
.category-widget .red-button{
    text-transform: none;
}
/*end of right sidebar*/
/*End of Body Area*/



/*Footer Area*/
.footer1{
    background: #2d343c;
    padding: 15px 0px 15px 0px;
}
.footer-widget{
    float: left;
    margin: 0px 70px 0px 0px;
}
.footer-widget h4.title{
    font-family: TitilliumWebRegular;
    font-size: 20px;
    font-weight: 500;
    color: #3292a4;
    text-transform: uppercase;
    -webkit-text-stroke: 0.3px;
    text-shadow: 1px 1px 1px rgba(50, 146, 164,0.004);
    margin: 5px 0px 20px 0px;
}
.footer-widget h4.title .different{
    color: white;
}
ul.vmenu{
    padding: 0px 0px 0px 0px;
    margin: 0px;
}
ul.vmenu li{
    list-style: none;
    margin: 0px 0px 20px 0px;
}
ul.vmenu li a{
    text-decoration: none;
    padding: 0px 5px 5px 0px;
    font-family: NotoSansRegular;
    font-size: 13px;
    color: #ffffff;
}
.footer-widget.contact{
    width: 250px;
}
.footer-widget.contact input[type="text"], .footer-widget.contact textarea{
    margin: 5px 0px 0px 0px;
    border: 1px solid #958e86;
    padding: 5px 0px 5px 8px;
    width: 225px;
    font-family: NotoSansRegular;
    font-size: 13px;
    color: #464646;
    height: auto;
    line-height: normal;
}
.footer-widget.contact .input::-webkit-input-placeholder { /* WebKit browsers */
    color:    #bbbbbb;
    opacity: 1;
}
.footer-widget.contact .input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #bbbbbb;
    opacity: 1;
}
.footer-widget.contact .input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #bbbbbb;
    opacity: 1;
}
.footer-widget.contact .input:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #bbbbbb;
    opacity: 1;
}
.footer-widget.contact input[type="submit"]{
    border: none;
    border-radius: 5px;
    background: #e83100; /* Old browsers */
    background: -moz-linear-gradient(top,  #e83100 0%, #bf0d14 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e83100), color-stop(100%,#bf0d14)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #e83100 0%,#bf0d14 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #e83100 0%,#bf0d14 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #e83100 0%,#bf0d14 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #e83100 0%,#bf0d14 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e83100', endColorstr='#bf0d14',GradientType=0 ); /* IE6-9 */
    padding: 5px 15px 5px 15px;
    margin: 10px 0px 0px 0px;
    text-transform: uppercase;
    color: white;
    font-family: NotoSansRegular;
    font-size: 13px;
    float: right;
    margin-right: 15px;
}
.footer-widget.contact input[type="submit"]:hover{
    background: #e83100; /* Old browsers */
    background: -moz-linear-gradient(top,  #e83100 0%, #bf0d14 5%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e83100), color-stop(5%,#bf0d14)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #e83100 0%,#bf0d14 5%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #e83100 0%,#bf0d14 5%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #e83100 0%,#bf0d14 5%); /* IE10+ */
    background: linear-gradient(to bottom,  #e83100 0%,#bf0d14 5%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e83100', endColorstr='#bf0d14',GradientType=0 ); /* IE6-9 */

}
.footer-widget.tweets{
    width: 200px;
    margin-right: 0px;
}
.footer-widget.tweets p{
    color: white;
    font-family: NotoSansRegular;
    font-size: 12px;
}
i.twitter-bird{
    width: 25px;
    height: 25px;
    background-position: -175px -248px;
    margin-right: 7px;
}
.footer-widget.follow{
    width: 250px;
    margin-right: 0px;
}
ul.social{
    padding: 0px 0px 0px 0px;
    margin-top: -8px;
}
.social-gray{
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 0px 7px 0px 0px;
    background: url('../img/sprites.png') -6px -281px;
}
.social-gray:hover{
    background-position: -6px -312px;
}
.social-gray.fb{
    background-position: -6px -281px;
}
.social-gray.fb:hover{
    background-position: -6px -312px;
}
.social-gray.linkedin{
    background-position: -46px -281px;
}
.social-gray.linkedin:hover{
    background-position: -46px -312px;
}
.social-gray.youtube{
    background-position: -88px -281px;
}
.social-gray.youtube:hover{
    background-position: -88px -312px;
}
.social-gray.gplus{
    background-position: -128px -281px;
}
.social-gray.gplus:hover{
    background-position: -128px -312px;
}
.social-gray.twitter{
    background-position: -168px -281px;
}
.social-gray.twitter:hover{
    background-position: -168px -312px;
}
.footer2{
    background: #000;
    padding: 10px 0px 7px 0px;
}
.footer-menu{
    padding: 0px;
}
.footer-menu li{

}
.footer-menu li a{
    color: #a6a6a6;
    padding: 5px 5px 5px 0px;
    margin: 0px 20px 0px 0px;
    font-family: NotoSansRegular;
    font-size: 13px;
}
.footer-menu li a:hover{
    color: #fff;
}
.footer-logo{
    display: inline-block;
    width: 156px;
    height: 48px;
    background: url('../img/sprites.png') no-repeat -338px -151px;
}
.copyright-text{
    clear: left;
}
.copyright-text p{
    margin: 5px 0px;
    color: #a6a6a6;
    font-size: 13px;
    font-family: NotoSansRegular;
}
/*End of Footer Area*/
.fl{
    float:left;
}
.fr{
    float: right;
}
/* Clearfix */
.cf:before, .cf:after {
  content:"";
  display:table;
}

.cf:after {
    clear:both;
}


/* For IE 6/7 (triggers hasLayout) */
.cf {
  *zoom:1;
}
.reviews-container{
    padding: 20px 10px;
    background-color: #FFF;
    border: 1px solid #34B4CA;
    border-radius: 5px;
    margin: 20px 0px;
}
.review-item{
    background:#fff;
    padding: 4px 0px 15px;
    border-bottom: 2px solid #34B4CA;
    font-family: NotoSansRegular;
    margin: 0px auto 10px auto;
    width: 644px;
    min-height: 88px;
}
.reviews-list>.review-item:last-child{
    margin-bottom: 0px;
    border-bottom: none;
}
.review-item .poster-pic{
    width: 110px;
    padding: 10px 0px 0px 0px;
    text-align: center;
}
.review-item .poster-pic .img-container{
    margin:auto;
    width: 60px;
    height: 60px;
}
.review-item .review-content{
    width: 530px;
}
.review-item .description{
    color: #808080;
    margin: 8px 0px;
}
.review-item .date{
    margin: 2px 0px 0px 10px;
}
.review-item .actions{
    font-size: 14px;
    color: #858585!important;
}
.review-item .actions a{
    color: inherit;
}
.review-item .actions a.like-btn{
    text-decoration: none;
    border-radius: 2px;
    padding: 0px 8px 0px 2px;
}
.review-item .actions a.like-btn:hover, a.like-btn.active{
    //background: rgba(206, 204, 204, .5);
}
a.like-btn.active{
    cursor: pointer;
    text-decoration: none;
}
a.like-btn.active:hover .icon-like{
    background-position: -242px -198px;
}
a.like-btn.active:hover .likes_count_icon{
    background-position: -482px -290px;
}
a.like-btn:after{
    content: "like";
    transition: .3s ease-in;
}
a.like-btn.active:after{
    content: "liked";
}
a.like-btn.active:hover:after{
    content: "unlike";
    transition: .3s ease-in;
}
.review-actions-blue a.like-btn{
    padding: 0px 5px 0px 1px;
}
.add-review-module{
    background: none repeat scroll 0% 0% #F3F3F3;
    border-radius: 0px;
    padding: 25px 10px 25px 30px;
    border-top: 1px solid #DADADA;
    border-bottom: 1px solid #DADADA;
    font-family: NotoSansRegular;
    min-height: 140px;
    margin: 20px 0px 10px 0px;
}
.add-review-module .poster-pic{
    width: 110px;
    padding: 30px 0px 0px 0px;
    text-align: center;
}
.add-review-module .img-container{
    margin:auto;
    width: 60px;
    height: 60px;
}
.add-review-module .review-content{
    width: 500px;
    margin-left: 10px;
}
.add-review-module .rating-picker{
    margin: 0px 0px 10px 0px;
}
.add-review-module textarea{
    padding: 10px;
    width: 100%;
    min-height: 150px;
}
.add-review-module .submit-btn{
    margin: 10px 0px 0px 0px;
}
.add-review-module .rating-picker .rating2{
    margin: 2px 0px 0px 10px;
}
.event-details{
    padding: 20px 20px;
    background-color: #FFF;
    border: 1px solid #34B4CA;
    border-radius: 5px;
    margin: 20px 0px;
    font-family: NotoSansRegular;
}
.event-details .title{
    color: #E53100;
    line-height: 29px;
}
.event-details .description{
    font-size: 15px;
    margin: 10px 0px;
    color: #222;
    word-wrap: break-word;
}
.event-details .icon-calender{
    margin-right: 10px;
    margin-top: 0px;
}
.event-details .event-video{
    overflow: hidden;
    margin: 20px 0px 0px 0px;
}
.event-details .event-video iframe{
    width: 100%;
    height: 300px;
    border: none;
    background: none;
    overflow: hidden;
}
#tabs-events .event-details .event-video iframe{
    height: 240px;
}
.event-details .title a{
    font-family: inherit;
    color: inherit;
}
.event-details .event-metas{
    font-size: 14px;
    font-weight: bold;
    color: #404040;
}
.tabs-container{
    margin: 20px 0px 0px 0px;
}
.tab-content{
    background: white;
    border: 1px solid #34b4ca;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    padding: 10px 10px 10px 10px;
}
.cursor-pointer{
    cursor: pointer;
}
i.blue-white-arrow-left{
    width: 32px;
    height: 31px;
    background-position: -30px -248px;
}
i.blue-white-arrow-right{
    width: 32px;
    height: 31px;
    background-position: -62px -248px;
}
.icon-arrow-down-black{
    display: inline-block;
    width: 19px;
    height: 19px;
    background: url('../img/arrow-down-black.png');
}
.icon-arrow-up-black{
    display: inline-block;
    width: 19px;
    height: 19px;
    background: url('../img/arrow-up-black.png');
}
ul.pagination{

}
ul.pagination li{

}
ul.pagination li span, ul.pagination a{
    display: inline-block;
    padding: 5px 10px;
    background: #404040;
    color: #fff;
    font-family: NotoSansRegular;
    font-size: 16px;
    margin: 6px 0px;
}
ul.pagination li a{
    background: #34B4CA;
    color: #fff;
}
ul.pagination li a:hover{
    background: #404040;
    text-decoration: none;
}
ul.pagination li.disabled span{
    background: none;
    color: #222;
}
.ui-datepicker{
    background: white;
    padding: 7px;
    border: 1px solid #999;
}
.ui-datepicker .ui-datepicker-header{
    background: #888;
    padding: 5px;
}
.ui-datepicker td a{
    text-align: center!important;
}
.ui-datepicker td a.ui-state-active{
    background: #969697;
    color: #fff;
}
.ui-datepicker td a.ui-state-highlight{
    background: #e1e4e3;
}
.ui-datepicker .ui-datepicker-title {
    color: white;
}
.ui-datepicker-prev .ui-icon {
    text-indent: -99999px;
    cursor: pointer;
    background: url(../img/sprites.png) -283px -183px;
    width: 20px;
    height: 20px;
    margin-bottom: 31px;
}
.ui-datepicker-next .ui-icon {
    text-indent: -99999px;
    cursor: pointer;
    background: url(../img/sprites.png) -303px -183px;
    width: 20px;
    height: 20px;
    margin-bottom: 31px;
}
#recaptcha_widget_div{
    -moz-transform: scale(.94);
    zoom: .94;
}
.city-list-container{
    background: none repeat scroll 0% 0% #FFF;
    border-radius: 5px;
    border: 1px solid #34B4CA;
    padding: 10px 10px 50px;
}
ul.city-list{
    margin: 0px;
    padding: 0px;
}
ul.city-list li{
    list-style-type: none;
}
ul.city-list li a{
    color: #808080;
    font-family: NotoSansRegular;
    font-size: 36px;
}
ul.city-list li a .event-count{
    color: #E23E11;
    font-size: inherit;
}
ul.classified-info{
    margin: 0px;
    padding: 0px;
}
ul.classified-info li{
    list-style-type: none;
    display: inline-block;
    width: 202px;
    min-height: 38px;
    font-size: 12px;
    vertical-align: middle;
    color: #050000;
}
ul.classified-info li .value{
    color: #34b4ca;
    margin: 0px 0px 0px 10px;
}
.nothing-found-msg{
    padding: 20px;
    font-size: 35px;
    text-align: center;
    color: grey;
    background: none repeat scroll 0% 0% white;
}
.business-video{
    width: 100%;
    border: none;
    outline: none;
    margin-top: 4px;
    height: 200px;
}
.update-status-area{
    position: relative;
    margin-bottom: 10px;
}
.update-status-input{
    display: block;
    min-height: 100px;
    width: 90%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #34B4CA;
    color: #FFF;
    font-size: 16px;
    font-family: TitilliumWebRegular;
    border-radius: 4px;
    font-weight: 300;
    padding: 2px 7% 2px 3%;
    resize:none;
}
.update-status-submit{
    position: absolute;
    display: inline-block;
    width: 28px;
    height: 28px;
    background-position: -324px -244px;
    top: 0;
    right: 0;
    transition: .3s ease-out;
}
.update-status-submit:hover{
    background-color: rgba(0,0,0,.6);
    transition: .3s ease-in;
}
.vote_result_icon{
    background-position: -450px -291px;
    width: 19px;
    height: 16px;
}
.likes_count_icon{
    background-position: -467px -292px;
    width: 19px;
    height: 16px;
}
.counter{
    display: inline-block;
    border: 1px solid rgb(184, 184, 184);
    border-radius: 2px;
    line-height: normal;
    position: relative;
    padding: 0px 5px;
    margin: 0px 6px 0px 0px;
}
.counter .text{

}
.counter .caret{
    position: absolute;
    top: 6px;
    right: -5px;
    width: 5px;
    height: 5px;
}
.counter .caret s{
    width: 0px;
    height: 0px;
    border-color: transparent transparent transparent rgb(184, 184, 184);
    border-width: 6px 0px 6px 7px;
    border-style: solid;
    position: absolute;
    top: -2px;
    left: 0px;
}
.counter .caret i{
    background: none repeat scroll 0% 0% transparent;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-color: transparent transparent transparent white;
    position: absolute;
    border-width: 4px 0px 4px 5px;
}
.review-actions-blue .counter{
    font-size: 12px;
    font-family: NotoSansRegular;
    color: #1E9EB4;
    border-color: #1E9EB4;
    margin: 0px 0px 0px 8px;
}
.review-actions-blue .counter .caret{
    top: 5px;
}
.review-actions-blue .counter .caret s{
    border-left-color: #1E9EB4;
    border-width: 6px 0px 6px 6px;
}
.vote-interested{
    color:#808080;
    text-decoration: none;
    padding: 5px 10px 5px 0px;
    border-radius: 2px;
}
.vote-interested:after{
    content: " interested";
}
.vote-interested.voted:hover:after{
    content: " Not interested";
}
.vote-interested.voted{
    cursor: default;
}
.vote-interested:hover, .vote-interested.voted{
    background-color: rgba(204,204,204,.5);
    text-decoration: none;
}
.button.disabled{
    position: relative;
}
.button.disabled:before{
    display: block;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    content: '';
    z-index: 10;
    background: rgba(204,204,204,.51);
    position: absolute;
}