
h4 a, h3 a, h2 a, h1 a, h5 a, h6 a{
    color: inherit;
    font-family: inherit;
}
h1, h2, h3, h4, h5, h6{
    font-family: TitilliumWebRegular;
}
*{
    margin:0px;
    padding: 0px;
}
p{
    margin: 0;
    padding: 0;
}
.blue-round-icon{
    width: 35px;
    height: 35px;
    border-radius: 35px;
    background-color: #34b4ca;
    vertical-align: middle;
}
.icon-search{
    background-position: -203px -277px;
}
.icon-business{
    background-position: -230px -277px;
}
.icon-write{
    background-position: -257px -277px;
}
#blog_content{
    width:690px;
    margin-right:10px;
    padding:5px;
    margin-top:20px;
}
#blog_sidebar{
    width:335px;
    margin-left:10px;
    padding:5px;
    margin-top:20px;
}
.first{
    margin-top:5px;
}
.blog_heading{
    margin-bottom:30px;
}
.blog_heading h2{
    font-size:35px;
    color:#d72e00;
    font-weight:normal;
    line-height:20px;
    padding:0px 68px;
}
.blog_date{
    width:65px;
    padding:10px;
    background:#88234a;
    color:#fff;
    border-radius: 5px 0px 0px 5px;
    margin-top:20px;
}
.blog_posts.color-maron .blog_date{
    background: #88234A;
}
.blog_posts.color-blue .blog_date{
    background: #34B4CA;
}
.post_content{
    margin-bottom:20px;
}
.blog_posts.color-maron .post_content{
    border-left-color: #88234a;
}
.blog_posts.color-blue .post_content{
    border-left-color: #34B4CA;
}
.post_content img{
    margin-top:-10px;
    padding:0;
    width: 597px;
    height: 250px;
}
.blog_date h4{
    font-size:39px;
    color:#dcdcdc;
    font-weight:bold;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    text-align: center;
}
.blog_date p{
    text-align:center;
    font-size:14px;
    color:#dcdcdc;
    font-weight:normal;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
.post_content{
    width:587px;
    padding:10px;
    border-left:5px solid #88234a;
    padding-left:0px;
    background:#fff;
    border-right: 1px solid #E0E0E0;
    border-bottom: 1px solid #E0E0E0;
}
.blog_date.maron{
    background:#88234a;
}
.post_content.maron-border{
    border-left-color: #88234a;
}
.blog_date.blue{
    background:#34b4ca;
}
.post_content.blue-border{
    border-left-color: #34b4ca;
}

.blog-title{
    border-bottom:1px solid #dbdbdb;
    width:597px;
    margin: -4px 0 0 0;
}
.blog-title h4{
    color:#464646;
    font-size:22px;
    font-weight:normal;
    margin: 0 0 0 0;
    padding:10px 0px 10px 20px;
}
.blog-title p{
    color:#dcdcdc;
    font-size:16px;
    margin-top:-20px;
    margin-left:20px;
}
.comments_no_area{
    padding:13px 0px 12px 10px;
    border-left:1px solid #dbdbdb;
}
.comments_no_area p{
    margin: -5px 20px 0px 10px;
    font-size: 24px;
    font-weight: bold;
}
.the_post{
    padding:10px 20px;
    font-size:13px;
    color:#dcdcdc;
    border-bottom:1px solid #dbdbdb;
    width: 558px;
}
.the_post p{
    margin:  0;
    padding: 0;
}
.gravatar {
    background: url(../img/sprites.png) 385px 217px;
    width: 24px;
    height: 24px;
    margin-left: 13px;
    margin-top: 1px;
    margin-right: 10px;
}
.category_icon1 {
    background: url(../img/sprites.png) 359px 217px;
    width: 24px;
    height: 26px;
    margin-left: 13px;
    margin-top: 1px;
    margin-right: 10px;
}
.right_read_icon {
    background: url(../img/sprites.png) 40px 268px;
    width: 8px;
    height: 21px;
    margin-left: 13px;
    margin-top: 1px;
    margin-right: 10px;
    vertical-align: middle;
}
.post_actions{
    width: 100%;
}
.post_actions a{
    margin-top: 8px;
    color: #E03000;
    font-size: 15px;
    display: inline-block;
    margin-bottom: 4px;
}   
.read-more{
    color:#797979!important;
    font-size:15px;
}
.post_actions input[type=submit]{
    margin-left:90px;
    margin-top:5px;
}
.post_actions .read-more{
    margin-right: 20px;
    margin-top: 12px;
}
.blog_sidebar1{
    width:325px;
    padding:5px;
    background-color:#fff;
    border:1px solid #34b4ca;
    margin-bottom:10px;
    border-radius:5px;
}
/*
.blog_sidebar1 input[type=submit] {
color:#fff;
font-size:21px;
background: url(../img/sprites.png)322px 173px;
width: 318px;
border: none;
outline: none;
height: 50px;
margin-left: 15px;
}*/
.blog_sidebar1 input[type=submit] {
    color: #fff;
    font-size: 21px;
    background: url(../img/sprites.png)640px 173px;
    width: 318px;
    border: none;
    outline: none;
    height: 50px;
    margin-left: 10px;
}
.blog_sidebar1 input[type=submit]:hover {
    color:#fff;
    font-size:21px;
    background: url(../img/sprites.png)322px 173px;
    width: 318px;
    border: none;
    outline: none;
    height: 50px;
    margin-left: 15px;
}
.top_categories{
    width:325px;
    padding:5px;
    background-color:#fff;
    border:1px solid #34b4ca;
    margin-bottom:10px;
    border-radius:5px;
}
.top_categories h2{
    border:none;
}
.top_categories ul{
    margin:0;
    padding:0;
}
.top_categories ul li{
    list-style:none;
    margin:0;
    padding:0;
    display:block
        padding:0px 20px;
    padding-bottom:45px;
}
.top_categories img, .top_categories p{
    display:Inline-block;
    padding-right:20px;
}
.top_categories ul li img{
    float:left;
    padding-left:40px;
}
.top_categories a:hover{
    text-decoration:none;
}
.top_categories p{
    font-size:20px;
    vertical-align:middle;
    margin-bottom:25px;
}
#p1{
    color:#2f314e!important;
}
#p2{
    color:#72090b!important;
}
#p3{
    color:#ff5f1e!important;
}
#p4{
    color:#174c0e!important;
}
#p5{
    color:#c60c0c!important;
}
#p6{
    color:#1e8987!important;
}
#p7{
    color:#88234a!important;
}
#p8{
    color:#2e409e!important;
}
#p9{
    color:#463581!important;
}
.ads{
    width:325px;
    padding:5px;
    margin-left:-10px;
}
























.blog-header{
    background:#fff;
    padding:5px;
    margin:20px 0px;
    border: 1px solid #DFDFDF;
}
.blog-header img{
    width: 676px;
    max-height: 230px;
}
.edit_option{
    padding: 4px 0 1px 0;
}
i.icon-tick{ 
    width:19px;
    height:21px;
    vertical-align: middle;
    background-position: -349px -288px;
}
.edit_option .red-button{
    padding: 3px 15px 5px 15px;
    font-size: 14px;
}
.vseparator{
    display: inline-block;
    width: 1px;
    height: 15px;
    margin: 0px 10px;
    background: #DFDFDF;
    vertical-align: middle;
}
i.time_icon {
    background: url(../img/sprites.png) 333px 213px;
    width: 27px;
    height: 22px;
}
i.admin_icon {
    background: url(../img/sprites.png) 386px 214px;
    width: 27px;
    height: 22px;
}
i.comments_no {
    background: url("../img/sprites.png") repeat scroll 352px 250px transparent;
    width: 39px;
    height: 25px;
    margin-top: 3px;
}
.red{
    color:#d72e00!important;
    font-size:inherit;
    font-family: 'NotoSansRegular'!important;
    margin-top:4px;
}
.blog_topic_text{
    padding-bottom:10px;
}
.blog_topic_text p{
    color:#808080!important;
    font-size:13px!important;
    font-family: 'NotoSansRegular'!important;
    margin-bottom:10px;
}
h4.blog-comments-title{
    color:#808080;
    font-size:22px;
    font-family: 'NotoSansRegular';
    font-weight:normal;
    margin: 20px 0 10px 0;
    padding: 0 0 0 0;
}
.inside-post-comments{
    border-top: none;
}
.inside-post-comments .img-container{
    width: 52px;
    height: 52px;
}
.inside-post-comments .comment{
    margin: 5px 0px 5px 0;
    border-top: 1px solid rgb(218, 218, 218);
    padding: 15px 0 15px 0;
}
.inside-post-comments .date{
    color: #808080;
}
.inside-post-comments h5 a{
    color: #0071d2;
}
.inside-post-comments h5 button{
    font-size: 12px;
    text-transform: uppercase;
    padding: 3px 10px 3px 13px;
    margin: 0px 5px;
}
.inside-post-comments .desc{
    width: 600px;
}

.inside-post-comments .desc p{
    font-size: 14px;
    margin: 7px 0px;
}
.inside-post-comments .comment.sub{
    width: 600px;
    margin: 10px 0 0 80px;
    border-top: 1px solid rgb(218, 218, 218);
    padding: 15px 0 10px 0;
}
.inside-post-comments .comment.sub .desc{
    width: 520px;
}
.admin_info{
    margin:20px 0px;
    margin-bottom:110px;
}
.admin_pic{
    width:70px;
}
.admin_pic img{
    background:#fff;
    padding:5px;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -o-border-radius:5px;
    box-shadow:0 0 5px #ddd;
    -webkit-box-shadow:0 0 5px #ddd;
    -moz-box-shadow:0 0 5px #ddd;
    -o-box-shadow:0 0 5px #ddd;
}
.admin_details{
    width:588px;
}
.admin_details input{
    margin-right:20px;
}
.blue-text{
    color:#0071d2!important;
    font-size:17px!important;
}
.admin_details span{
    font-size:17px;
    color:#808080;
}
.single_comment{
    border-top:2px solid #ddd;
    padding-top:10px;
    width:600px;
}
.single_comment > .admin_details{
    width:500px;
}
.reply_section {
    width:648px;
    background:#eef0ef;
    padding:20px;
}
.reply_section.sub{
    width: 560px;
    margin:20px 0px;
}
.reply_section input, .reply_section textarea{
    display:block;
    float:none;
}
.reply_section > textarea{
    width:98%;
    margin-bottom:10px;
    height: 100px;
}
.reply_section.sub textarea{
    width: 550px;
}
.reply_section p{
    margin-top:5px;
}
.reply_section h2{
    font-weight:bold;
    margin: 0 0 0 0;
}
.reply_section p, .reply_section a{
    font-style:italic;
    font-family: 'NotoSansRegular';
}























.left{
    float:left;
}
.right{
    float:right;
}
.center{
    text-align:center;
}
#company_content{
    width:720px;
    padding:5px;
    margin-right:5px;
    margin-top:30px;
}
#company_content address{
    font-size: 14px;
    color: #808080;
    font-style: normal;
    font-family: Myriad Pro;
}
#company_sidebar{
    width:320px;
    margin-left:5px;
    margin-top:30px;
}
.company_info h2{
    font-size:28px;
    color:#dd2f00;
    font-family: NotoSansRegular;
    margin: -15px 0 8px 0;
}
.company_info .rating{
    margin-left: 0px;
}
.company_info p{
    color:#808080;
    font-size:14px;
    margin-left: 0px;
}
.category2, .company_info h4{
    color:#808080;
    font-style:normal;
}
b.blue{
    color: #34b4ca;
}
.company_info ul{
    margin:0;
    padding:0;
}
.company_info ul li{
    float:left;
    list-style:None;
    margin:0;
    padding:0;
}
.category2 img, .category2 a, .category2 p{
    display:table-cell;
}
.category2 p{
    color:#808080;
}
.category_icon {
    background: url(../img/sprites2.png) -989px -571px;
    width: 20px;
    height: 20px;
}
.category2{
    width:291px;
    margin-bottom:30px;
}
.category2 .stay-connected{
    width:296px;
    float:right;
    margin-top:-20px;
}
.category2 ul{
    margin:0;
    padding:0;
}
.category2 h5{
    font-size:16px;
    font-weight:normal;
    color:#dcdcdc;
}
.category2 ul li{
    margin:0;
    padding:0;
    margin-right:28px;
    list-style:None;
    display:Inline-block!important;
}
.slider{
    background:#fff;
    border:1px solid #e4e4e4;
    clear:both;
    padding:20px;
    position: relative;
    margin-top: 18px;
}
.slider .wrapper {
    //width: 660px;
    overflow: hidden;
    position: relative;
    margin: 0px 10px;
}
.slider .left-arrow{
    position: absolute;
    top: 88px;
    left: 10px;
}
.slider .right-arrow{
    position: absolute;
    top: 88px;
    right: 10px;
}
.slider ul{
    margin:0;
    padding:0;
    width:12000px;
}
.slider ul li{
    display:inline;
    margin:0;
    padding:0;
    padding:5px;
}
.slider ul li img{
    width: 130px;
    height: 130px;
    transition: .3s ease-out;
    outline: 0px solid transparent;
    display: inline-block;
    vertical-align: baseline;
}
.bx-wrapper ul li img:hover{
    outline: 5px solid #34B4CA;
    transition: .3s ease-in;
}
.left-arrow {
    background: url(../img/sprites.png) -283px -183px;
    width: 20px;
    height: 20px;
    margin-bottom: 31px;
}
.right-arrow{
    background: url(../img/sprites.png) -303px -183px;
    width: 20px;
    height: 20px;
    margin-bottom: 31px;
}
.add_photos_button input[type=submit]{
    float:right;
    margin-top:10px;
    margin-bottom:20px;
}
.filter_search{
    background:#34b4ca;
    padding:10px;
    clear:both;
    border-radius:5px;
}
.filter_search h2{
    color:#fff;
    font-size:17px;
}
.business_info p{
    color:#808080;
    font-size:13px;
    font-weight: bold;
}
.business_info{
    padding: 20px;
    border: 1px solid #78CDDC;
    border-radius: 10px;
    margin-top: 10px;
    font-family: NotoSansRegular;
}
.coloumn{
    width:210px;
    padding-right:16px;
    float:left;
}
.coloumn p{
    line-height: 27px;
}
.business_info input[type=submit]{
    margin-top:10px;
    clear:both;
    float:left;
}
.four_buttons{
    margin-top:20px;
}
.four_buttons input[type=submit]{
    float:left;
    margin-right:22px;
    margin-bottom:20px;
}
.list-item{
    margin: 10px 0 7px 0;
}
.geolocation{
    margin:20px 0px;
    color:#808080;
    margin-top:20px;
}
.video{
    background:#fff;
    border:1px solid #78cddc;
    border-radius:5px;
    margin-bottom:10px;
    overflow:hidden;
}	
.profile-widget{
    background:#fff;
    border:1px solid #78cddc;
    border-radius:5px;
    margin-bottom:10px;
    padding:8px 14px;
}
.profile-widget .heading{
    font-size: 18px;
    color: #34B4CA;
    margin: 0px 0px;
    padding: 0px 0px 6px 0px;
    border-bottom: 1px solid #E8E8E8;
}
.profile-widget .list-item .img-container{
    width: 55px;
    height: 55px;
    margin-right: 12px;
}
.profile-widget h2{
    color:#0084b4!important;
    font-size:20px;
    border-bottom:1px solid #e8e8e8;
    padding: 0 0 5px 0;
    margin: 0 0 5px 0;
}
.profile-widget h5 a{
    color:#e53100!important;
}
.two input[type=submit]{
    margin-right:100px;
}

.image_box{
    width:70px;
    background:#fff;
    padding:2px;
    border-radius:5px;
    box-shadow:0 0 5px #ddd;
}
.text_box{
    max-width: 180px;
    margin-bottom:10px;
    padding-top: 5px;
}
.text_box h5{
    line-height: 17px;
}
.two a{
    font-size:18px;
}
aside p{
    color:#808080;
    font-size:13px;
}
.user-profile-widget p{
    color:#e53100;
}
.two p{
    color:#808080;
}
.user-profile-widget h2{
    text-indent: 5px;
}
.yellow-button{
    background: #f7b946; /* Old browsers */
    background: -moz-linear-gradient(top, #f7b946 0%, #f79b25 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7b946), color-stop(100%,#f79b25)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f7b946 0%,#f79b25 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f7b946 0%,#f79b25 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f7b946 0%,#f79b25 100%); /* IE10+ */
    background: linear-gradient(to bottom, #f7b946 0%,#f79b25 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7b946', endColorstr='#f79b25',GradientType=0 ); /* IE6-9 */
    color:white;
    font-size: 15px;
    border: 1px solid #d37418;
    border-radius: 4px;
    padding: 3px 10px 3px 10px;
    font-weight: normal;
    font-family: NotoSansRegular;
}
.yellow-button:hover{
    background: #f7b946; /* Old browsers */
    background: -moz-linear-gradient(top, #f7b946 0%, #f79b25 2%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7b946), color-stop(2%,#f79b25)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f7b946 0%,#f79b25 2%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f7b946 0%,#f79b25 2%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f7b946 0%,#f79b25 2%); /* IE10+ */
    background: linear-gradient(to bottom, #f7b946 0%,#f79b25 2%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7b946', endColorstr='#f79b25',GradientType=0 ); /* IE6-9 */
}
.filter_search{
    font-family:TitilliumWebRegular;
}
.event{
    background:#fff;
    border: 1px solid #34b4ca;
    padding:10px;
    margin:20px 0px;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    -o-border-radius:5px;
}
.event_photo{
    width:110px;
    overflow:hidden;
    float:left;
    margin-top: 11px;
}	
.event_photo img{
    border:5px solid #fff;
    box-shadow:0 0 5px #ddd;
    -moz-box-shadow:0 0 5px #ddd;
    -o-box-shadow:0 0 5px #ddd;
    -webkit-box-shadow:0 0 5px #ddd;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    -o-border-radius:5px;
    margin-left:10px;
    width: 85px;
    height: 85px;
}
.event_info{
    float:right;
    width:543px;
    overflow:hidden;
    font-family:NotoSansRegular;
}
.event_info p{
    font-size:13px;
}
.event_info span{
    color:#808080;
    line-height:normal;
}
.event_info h4{
    font-size:14px;
    color:#d72e00;
    font-weight:normal;
    line-height:1.8em;
}
.event_info .info_details{
    margin-left: 6px;
}
.event_meta{
    margin: 7px 6px;
    color:  #808080;
    padding: 0 13px 0 0;
}
.smallest-pic{
    width: 25px;
    height: 25px;
    padding: 3px;
    border: 1px solid #c4c4c4;
    vertical-align: middle;
    margin: 0px 10px;
}
.filter_search input{
    margin-top:-24px;
}
i.interested_icon {
    background: url(../img/sprites.png) -200px 214px;
    width: 29px;
    height: 24px;
    vertical-align: middle;
}
.instruction-text{
    margin: 12px 0 12px 7px;
}
.find_friend_filters_details{
    padding-bottom:10px;
}
.interested{
    margin-bottom:20px;
}
.interested_part p, .interested_part i{
    margin-top:0px;
}

.interested img{
    border:2px solid #ddd;
    padding:4px;
    background:#fff;
}
.submitted_by p, .submitted_by a{
    margin-top:15px;
}
.submitted_by img{
    margin-top:5px;
    margin-right:10px;
}
.submitted_by img, .submitted_by p{
    float:left;
}
.submitted_by a{
    color:#e02a04;
}
/* Sidebar CSS */
.blog_sidebar1{
    width:325px;
    padding:5px;
    background-color:#fff;
    border:1px solid #34b4ca;
    margin-bottom:10px;
    border-radius:5px;
}
.blog_sidebar1 input[type=submit] {
    color: #fff;
    font-size: 21px;
    background: url(../img/sprites.png)640px 173px;
    width: 318px;
    border: none;
    outline: none;
    height: 50px;
    margin-left: 10px;
}
.blog_sidebar1 input[type=submit]:hover {
    color:#fff;
    font-size:21px;
    background: url(../img/sprites.png)322px 173px;
    width: 318px;
    border: none;
    outline: none;
    height: 50px;
    margin-left: 15px;
}
/* Sidebar CSS */



























.blog_heading h2{
    font-size:35px;
    color:#d72e00;
    font-weight:normal;
    line-height:20px;
    padding:0px 15px;
    margin-bottom:20px;
}
.main-text p{
    margin-bottom:10px;
}
.filter_search{
    font-family:TitilliumWebRegular;
    margin-bottom:10px;
    margin-top:10px;
}
.main-text{
    margin-bottom:20px;
}
.checkbox_text{
    margin-bottom:10px;
}
.find_friend_filters{
    background:#fff;
    border:1px solid #34b4ca;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -o-border-radius:5px;
    width:230px;
    padding:10px;
}
.icon-calender2{
    background-position: -228px -313px;
    height: 30px;
    vertical-align: middle;
}
.friend_suggestion{
    background:#fff;
    border:1px solid #34b4ca;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -o-border-radius:5px;
    width:400px;
    padding:10px;
}
.friend_suggestion input[type=text]{
    margin-bottom:0px;
}
.find_friend_filters input[type=text], .find_friend_filters select{
    margin-bottom:10px;
    width: 217px;
}
.find_friend_filters h4{
    color:#34b4ca;
    color:17px;
    font-family:TitilliumWebRegular;
    margin-bottom:5px;
}
.find_friend_filters label{
    color:#808080;
    font-size:13px;
    margin-left:10px;
}

.friend_suggestion input[type=text]{
    width:250px;
    margin-top:2px;
}
.friend_about h4{
    font-size:17px;
    font-weight:normal;
    color:#34b4ca;
    font-family:TitilliumWebRegular;
    line-height:1.4;
}
.friend_about p{
    font-size:12px;
    color:#808080;
    font-family:NotoSansRegular;
}
.single_suggestion{
    margin-top:10px;
}

/* Sidebar CSS */
.blog_sidebar1{
    width:325px;
    padding:5px;
    background-color:#fff;
    border:1px solid #34b4ca;
    margin-bottom:10px;
    border-radius:5px;
}
.blog_sidebar1 input[type=submit] {
    color: #fff;
    font-size: 21px;
    background: url(../img/sprites.png)640px 173px;
    width: 318px;
    border: none;
    outline: none;
    height: 50px;
    margin-left: 10px;
}
.blog_sidebar1 input[type=submit]:hover {
    color:#fff;
    font-size:21px;
    background: url(../img/sprites.png)322px 173px;
    width: 318px;
    border: none;
    outline: none;
    height: 50px;
    margin-left: 15px;
}
















#search_cities_content{
    width: 700px;
    margin-right: 10px;
    padding: 5px;
    margin-top: 20px;
}
#search_cities_content h3{
    font-weight:normal;
    font-size:25px;
    font-family:TitilliumWebRegular;
    color:#d72e00;
    margin-top:10px;
    margin-bottom:10px;
}
h2.search_heading {
    font-size: 31px;
    color: #d72e00;
    font-weight: normal;
    line-height: 20px;
    padding: 0px 0px;
    padding-bottom: 76px;
}
.cities{
    background:#fff;
    border-radius:5px;
    border:1px solid #34b4ca;
    padding:10px;
}
.city{
    padding:0 24px 0 20px;
}
.city h4{
    color:#d72e00;
    font-size:17px;
    font-family:TitilliumWebRegular;
    font-weight: bold;
}
.cty ul{
    margin: 0;
}
.city li{
    list-style:none;
    font-size:14px;
    font-family:NotoSansRegular;
    color:#dcdcdc;
}
.city li a{
    color: #808080;
    font-family: NotoSansRegular;
    font-weight: normal;
}
.papeete{
    background:#fff;
    border-radius:5px;
    border:1px solid #34b4ca;
    padding:10px;
    padding-bottom:50px;
}
.papeete h4{
    font-size:36px;
    color:#e23e11;
    font-weight:normal;
}
.papeete p, .papeete h4{
    float:left;
    font-family:NotoSansRegular;
    font-size:36px;
}
.papeete p{
    color:#808080;
}
.search_cities{
    margin-top:20px;
    margin-bottom:20px;
}

.search_cities input[type=text]{
    width:320px;
    margin-right:20px;
}
.countries{
    color:#808080;
    font-size:14px;
    font-family:NotoSansRegular;
    word-spacing:2.4em;
    line-height:1.4em;
}





























.user_profile_page i{
    vertical-align: middle;
}

#user_profile{
    width:100%;
    margin-right:5px;
}
#user_profile_aside{
    width:260px;
    padding:5px;
    margin-left:5px;
    margin-top:20px;
}
.profile{
    width:260px;
    padding:5px;
    margin-left:5px;
}
.comments2, .user-profile-middle{
    width:461px;
    padding:5px;
    margin:0px 5px;
}
.pro_pic{
    text-align: center;
    margin-bottom:20px;
    margin-top:20px;
}
.pro_pic img{   
    border:5px solid #fff;
    border-radius:5px;
    box-shadow:0 0 5px #ddd;
    margin-left:5px;
    max-width: 140px;
}
.pro_pic h2{
    color:#cc3d43;
    font-size:20px;
}
.filter_search{
    color:#908f8f;
}
.user-right-widget{
    margin:15px 0px;
    font-size:13px;
    border-radius:5px;
    border:1px solid #78cddc;
    background:#fff;
    font-size:7px;
    color:#808080;
}
.user-right-widget a.header{
    border-bottom:1px solid #e8e8e8;
    width:250px;
    padding:7px 0px;
    font-size:13px;
    width: 100%;
    display: inline-block;
    font-family: NotoSansRegular;
    color:#333333;
}
#friends {
    background: url('../img/sprites1.png') 265px 63px;
    height: 23px;
    width: 20px;
    padding-top: -51px;
}
#reviews-icon {
    background: url('../img/sprites1.png') 243px 61px;
    height: 22px;
    width: 20px;
}
#updates {
    background: url('../img/sprites1.png') 221px 61px;
    height: 23px;
    width: 20px;
}
#firsts {
    background: url('../img/sprites1.png') 201px 60px;
    height: 23px;
    width: 20px;
}
#tips {
    background: url('../img/sprites1.png') 184px 63px;
    height: 23px;
    width: 20px;
}
#local {
    background: url('../img/sprites1.png') 166px 61px;
    height: 23px;
    width: 20px;
}
#lists {
    background: url('../img/sprites1.png') 148px 60px;
    height: 23px;
    width: 20px;
}
#add_friend {
    background: url('../img/sprites1.png') 128px 63px;
    height: 23px;
    width: 20px;
}
#compliments {
    background: url('../img/sprites1.png') 110px 63px;
    height: 23px;
    width: 20px;
}
#message {
    background: url('../img/sprites1.png') 90px 61px;
    height: 23px;
    width: 20px;
}
#follow {
    background: url('../img/sprites1.png') 71px 62px;
    height: 23px;
    width: 20px;
}
#similar {
    background: url('../img/sprites1.png') 51px 60px;
    height: 23px;
    width: 20px;
}
.user-right-sidebar i.user-icon{
    margin-right: 20px;
    margin-left: 9px;
}
.others{
    padding:2px;
}
.others h4{
    border-bottom:1px solid #e8e8e8;
    margin-bottom:5px;
    color:#0084b4;
    padding:10px;
    font-size:14px;
    line-height:5px;
}
.others img{
}
.recent_views p, .recent_views a, .recent_views i, .recent_views span, .recent_views input{	
    float:left;
    font-family: NotoSansRegular;
}
.recen_views p{
    border:none;
    font-family: NotoSansRegular;
}
.recent_views{
    background:#fff;
    border-radius:5px;
    border:1px solid #78cddc;
    padding:10px 10px;
    margin-top:20px;
    font-family: NotoSansRegular;
}
.recent_views p{
    width:107px;
    color:#333333;
    font-family: NotoSansRegular;
}
.recent_views a{
    margin-right:10px;
    font-family: NotoSansRegular;
}
.span{
    color:#888787;
    font-size:13px;
}
.sort{
    margin-left:50px;
    margin-right:10px;
}
.left_icon {
    background: url('../img/sprites1.png') -575px 61px;
    width: 12px;
    height: 19px;
}
.recent_views .date{
    color:#e53100;
    font-size:13px;
}
.icon_search {
    background: url('../img/sprites1.png') -684px 38px;
    width: 17px;
    height: 19px;
    margin-left: 10px;
}
.recent_views	input[type=submit]{
    border:1px solid #ddd!important;
}
.recent_views	input[type=submit]:hover{
    border:1px solid #ddd!important;
}
.recent_views	input[type=submit]:focus{
    border:1px solid #ddd!important;
}
.user-recent-feeds{
    margin:20px 0px;
    border-radius:5px;
    border:1px solid #78cddc;
    background:#fff;
    padding:5px;
}
.desc2{
    clear:both;
    font-size:14px;
    color:#222;
    padding-top:3px;
}
.post-date{
    font-size: 12px;
    color: #808080;
    font-style: italic;
    margin-top: 7px;
}
.feed-item .business-address{
    width: 190px;
    color:#808080;
    font-size:13px;
    line-height:15px;
    margin-top: 13px;
    font-family: NotoSansRegular;
}
.user-recent-feeds h4{
    color:#df2904;
    font-weight:normal;
    font-size:15px;
}
.watch_review{
    padding-top:10px;
}
.watch_review span{
    font-size:14px;
    color:#808080;
    margin-top:10px;
}
.watch_review input{
    float:left;
    margin-left:20px;
}
.small-img-grid .img-container{
    width: 55px;
    height: 55px;
    margin: 5px 5px;
}
.send_commpliments {
    background: url(../img/sprites1.png) 93px 61px;
    width: 23px;
    height: 19px;
}
.send_friend {
    background: url(../img/sprites1.png) -159px 61px;
    width: 23px;
    height: 19px;
}
.ink_review {
    background: url(../img/sprites1.png) -954px 38px;
    width: 15px;
    height: 18px;
}
.comment_options a{
    font-size:12px;
    font-family: NotoSansRegular;
}
.feed-item{
    padding: 3px 13px;
}
.feed-item .red-button{
    padding: 5px 9px 3px 9px;
}
.feed-story-separator {
    background: url(../img/sprites.png) -90px 183px;
    width: 440px;
    height: 7px;
    margin-left: -10px;
    margin-top: 3px;
}
.user-recent-feeds>.feed-item:last-of-type .feed-story-separator{
    display: none;
}
.blue_arrow {
    background: url('../img/sprites1.png') 30px 63px;
    height: 23px;
    width: 12px;
    margin-right: 10px;
    padding-top: -51px;
}
.grey_arrow{
    background: url('../img/sprites1.png') 18px 63px;
    height: 23px;
    width: 12px;
    display: inline-block;
    margin-right: 10px;
    padding-top: -51px;
}
h2 .grey_arrow{
    margin-top: 5px;
}
a:hover .grey_arrow, a.active .grey_arrow {
    background: url('../img/sprites1.png') 30px 63px;
    height: 23px;
    width: 12px;
    margin-right: 10px;
    padding-top: -51px;
}
.user_sidebar{
    margin-top:26px!important;
}



























.options_area img{
    margin-right:10px;
}
.options_area{
    margin:20px 0px;
    font-size:16px;
    color:#808080;
    font-family:NotoSansRegular;
}
.options_area ul li{
    list-style:none;
    display:inline;
    padding-right:50px;
}
.options_area ul li:last-child{
    padding-right: 0px;
}
.options_area ul li i{
    margin-right: 10px;
}
.list_below_heading{
    margin:20px 0px;
}
.list_below_heading h3{
    font-size:20px;
    color:#e63100;
    font-family:NotoSansRegular;
    font-weight:normal;
    text-align:center;
}
.tool_tip{
    position: relative;
    padding: 10px;
    margin: 0px 0px 0px;
    background: none repeat scroll 0% 0% rgb(255, 226, 119);
    border-radius: 7px;
    width: 300px;
    color: rgb(39, 39, 39);
    font-family: NotoSansRegular;
    font-size: 12px;
    box-shadow: 1px 1px 1px rgba(50, 50, 50, 0.24);
}
.tool_tip .red{
    color:#e73100;
    font-family: NotoSansRegular!important;
    font-size: 14px!important;
}
.tool_tip .down-arrow{
    position: absolute;
    display: block;
    width: 33px;
    height: 18px;
    bottom: -18px;
    left: 30px;
    background: url("../img/sprites.png") no-repeat scroll -93px -180px transparent;
}
.search_business_button{
    margin-top:10px;
    margin-right: 10px;
    clear:both;
    overflow:hidden;
    display:block;
}
.review_selection{
    padding:20px 10px;
    background-color:#fff;
    border:1px solid #34b4ca;
    border-radius:5px;
    margin:20px 0px;
}
.review_no {
    background: url(../img/sprites1.png) 200px 60px;
    height: 17px;
    width: 19px;
}
.review_address h4{
    color:#d72e00;
    font-size:14px;
    font-family:NotoSansRegular;
    margin-bottom:2px;
    font-weight: 500;
}
span.num{
    display: inline-block;
    padding: 0px;
    font-size: 12px;
    border-radius: 80px;
    background: none repeat scroll 0% 0% rgb(52, 180, 202);
    color: white;
    margin: 0px 5px 0px 0px;
    width: 25px;
    height: 25px;
    display: inline-block;
    text-align: center;
    line-height: 25px;
}
.review_address .desc{
    margin-left:34px;
    clear:both;
    font-family:NotoSansRegular;
    font-size: 14px;
    color: #808080;
}
.review-count a{
    font-family:NotoSansRegular;
    font-size: 14px;
    color: #808080;
}
.review_address .desc address{
    margin: 0 0 10px 0;
    font-style: normal;
    font-size: 13px;
}
.review_rating ul li{
    display:inline;
    list-style:none;
}
.review_rating p{
    text-align:center;
}
.review_rating input{
    clear:both;
    margin-top:50px;
}
.write_comment{
    margin:10px 0px;
    background:#f3f3f3;
    border-radius:0px;
    padding:5px 10px 5px 30px;
    border-top: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
}
.write_comment .img-container{
    margin-top: -1px;
}
.img-container.smallmedium{
    width: 40px;
    height: 40px;
}
.rating-picker{
    font-weight: 600;
    font-family: NotoSansRegular;
    font-size: 14px;
    color: #808080;
}
.rating-picker .rating2{
    margin: 3px 0px 0 10px;
}
.write_comment ul li{
    display:inline;
    list-style:none;
}
.write_admin{

}
.write_admin img{
    background:#fff;
    padding:5px;
    border-radius:5px;
    box-shadow:0 0 8px #dedede;
    margin-left:10px;
}
.write_admin input[type=text]{
    width:550px;
}
.write_admin textarea {
    width: 528px;
    margin-right: 13px;
    height: 49px;
}
.commenter_pic{
    background:#fff;
    padding:5px;
    border-radius:5px;
    box-shadow:0 0 8px #dedede;
    margin-left:10px;
}
.one_comment{
    padding: 0 10px 0 30px;
}
.a_comment {
    width: 551px;
}
.a_comment h5{
    font-family: NotoSansRegular;
    color: #808080;
    font-size: 14px;
}
.a_comment h5 a{
    color: #4497de;
}
.a_comment p{
    font-size: 13px;
    line-height: 20px;
    margin-top: 0px;
}
.a_comment ul li{
    display:inline;
    list-style:none;
}
.a_comment a{
    margin-top:-3px;
    margin-right:10px;
}
.write_reply{
    display:block;
    clear:both;
    padding:10px 0px;
    margin: 10px 0px 0px 0px;
}
.review_admin .blue-button{
    margin-right: 15px;
}
.write_reply input[type=text]{
    width:480px;
    margin-top: 10px;
}
.write_reply textarea {
    width: 446px;
    margin-top: 2px;
    margin-right: 15px;
    height: 48px;
    margin-bottom: 12px;
}
.icon-about{
    width: 42px;
    height: 46px;
}
.icon-about.business{
    background-position: 0px -8px;
    width: 46px;
}
.icon-about.food{
    background-position: -46px -8px;
}
.icon-about.auto{
    background-position: -88px -8px;
}
.icon-about.health{
    background-position: -132px -8px;
}
.icon-about.edu{
    background-position: -180px -8px;
}
.icon-about.it{
    background-position: -222px -8px;
}
.icon-about.retail{
    background-position: -264px -8px;
}
.icon-about.travel{
    background-position: -302px -8px;
}
.box-content{
    width: 300px;
    height: 172px;
    overflow: hidden;
}
.box-content .contents{
    width: 230px;
}
.box-content h4{
    color: #d72e00;
    font-size: 19px;
    margin: 0px 0px 5px 0px;
}
.box-content p{
    font-size: 13px;
    line-height: 22px;
}

#inbox-tabs .tabs-menu-button{
    background-color: white;
    border: 1px solid #34b4ca;
    color: #34b4ca;
    font-size: 17px;
    font-family: TitilliumWebRegular;
    padding: 9px 20px;
}
#inbox-tabs li.ui-tabs-active .tabs-menu-button{
    background-color: #34b4ca;
    color: white;
}
#inbox-tabs .blue-header-title{
    margin: 10px 10px 10px 10px;
    padding: 10px;
}
#inbox-tabs .blue-header-title .input{
    height: 27px;
}
#inbox-tabs>div{
    padding: 0px;
    padding-bottom: 14px;
}
.message{
    border-bottom: 1px solid #e5e5e5;
    padding: 0 0 0px 0;
}
.messages-container>.message:last-child{
    border-bottom: none;
}
.messages-container h3{
    margin: 5px 0px 0px 20px;
}
.img-container.small{
    width: 40px;
    height: 40px;
}
.message .img-section{
    text-align: center;
    margin: 12px 0 0 20px;
}
.message .img-section .img-container{
    margin: 0 0 7px 0;
}
.message .msg-content{
    width: 570px;
    margin:0px 0px 0px 0px;
    padding: 5px 10px 10px 10px;
}
.message.unread .msg-content{
    background-color: #ededed;
}
.msg-content h5{
    color: #404040;
    font-family: NotoSansRegular;
    font-size: 15px;
    margin: 5px 0 5px 0;
    font-weight: 400;
}
.msg-content p{
    font-size: 13px;
    color: #222;
    line-height: 20px;
    margin: 0 0 5px 0;
}
.inbox-actions{
    margin: 14px 0px 0px 94px;
}
.inbox-actions button{
    margin: 0 10px 0 10px;
}
.date{
    color: #acacac;
    font-size: 13px;
    font-weight: 400;
    font-family: NotoSansRegular;
}
.date i{
    vertical-align: middle;
    margin: 0 10px 0 0;
}
a.blue{
    color: #0071d2 !important;
    font-family: NotoSansRegular;
}
.menu.all-cats{

}
.menu.all-cats li{
    display: inline-block;
    margin: 4px 0px;
    width:180px;
}
.menu.all-cats li input{
    margin: 0px 10px 0px 0px;
}

.filters-wide ul h5{
    margin-bottom: 10px;
}
.create.message{
    padding-top: 10px;
}
.create.message .msg-content{
    padding-top: 10px;
}
.create.message textarea{
    width: 80%;
    padding: 10px;
    margin: 0px 0px 10px 0px;
}
.create.message .button{
    margin-right: 92px;
}

.form-container .category-list{
    padding: 0 0 20px 5px;
}
.form-container .category-list .category{
    margin: 5px 5px 0px 0px;
    width: auto;
    padding: 5px;
    width: 180px;
    font-size: 16px;
}
.form-container .category-list .category.selected{
    border: 3px solid #34b4ca;
    border-radius: 40px;
}
.form-container .category-list .category:hover{
    text-decoration: none;
}











.event_button_2 input[type=submit]{
    float:right!important;
}
.event_interested{
    margin-top:63px;
}
.event_submitted_2{
    margin-top:100px;
}
.blog_heading h2{
    font-size:35px;
    color:#d72e00;
    font-weight:normal;
    line-height:20px;
    padding:0px 64px;
}
.black-button{
    border: none;
    border-radius: 5px;
    background: #343434; /* Old browsers */
    padding: 5px 15px 5px 15px;
    margin: 0px 0px 0px 0px;
    text-transform: uppercase;
    color: white;
    font-family: NotoSansRegular;
    font-size: 15px;
    float: right;
}
.black-button:hover{
    text-decoration: none;
    background: #343434; /* Old browsers */

}
.read-more{
    color:#797979!important;
    font-size:15px;
}
.category ul li {
    margin: 0;
    padding: 0;
    margin-right: 15px;
    list-style: None;
    display: Inline-block!important;
}
.blog_topic_heading h2{
    padding:0px 20px!important;
}














.main-text p{
    margin-bottom:10px;
}
.filter_search{
    font-family:TitilliumWebRegular;
    margin-bottom:10px;
    margin-top:10px;
}
.main-text{
    margin-bottom:20px;
}
.checkbox_text{
    margin-bottom:10px;
}
.friend_suggestion input[type=text]{
    margin-bottom:0px;
}
.friend_suggestion input[type=submit]{
    margin-top:3px;
}
.find_friend_filters input[type=text],.find_friend_filters select{
    margin-bottom:10px;
}
.find_friend_filters h4{
    color:#34b4ca;
    color:17px;
    font-family:TitilliumWebRegular;
    margin-bottom:5px;
}
.find_friend_filters label{
    color:#808080;
    font-size:13px;
    margin-left:10px;
}
.friends_suggestion_pic img{
    padding:5px;
    background:#fff;
    box-shadow:0 0 5px #ddd;
    -webkit-box-shadow:0 0 5px #ddd;
    -moz-box-shadow:0 0 5px #ddd;
    -o-box-shadow:0 0 5px #ddd;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -o-border-radius:5px;
}

.friend_about h4{
    font-size:17px;
    font-weight:normal;
    color:#34b4ca;
    font-family:TitilliumWebRegular;
    line-height:1.4;
}
.friend_about p{
    font-size:12px;
    color:#808080;
    font-family:NotoSansRegular;
}
.find_friend_filters h4{
    font-size:20px;
    clear:both;
}
.friend_about {
    width: 315px;
}
.send_commpliments {
    background: url(../img/sprites1.png) 93px 61px;
    width: 23px;
    height: 19px;
}
.send_friend {
    background: url(../img/sprites1.png) -65px -230px;
    width: 20px;
    height: 19px;
}
.recent_views a{
    margin-top:0px;
}
.others{
    padding:2px;
}
.others h4{
    border-bottom:1px solid #e8e8e8;
    margin-bottom:10px;
    width:236px;
    color:#0084b4;
    padding:10px;
    font-size:14px;
    line-height:5px;
}
.find_friends_heading h2{
    padding:0px 14px;
}
.msg{
    padding: 8px;
    border: 1px solid #085FA7;
    font-size: 14px;
    border-radius: 3px;
    color: #868686;
    margin: 5px 25px 10px 0px;
}
.msg.error{
    border-color: #FFC300;
}
.msg.success{
    border-color: #00B94B;
}
#recaptcha_privacy{
    display: none;
}
#recaptcha_response_field{
    border: 1px solid #bcbcbc;
    height: 30px;
    font-size: 14px;
    font-family: NotoSansRegular;
    color: #868686;
    padding: 0 0px 0 10px;
    line-height: 22px;
    text-indent: 10px;
}
.current-user-btn{
    border-radius: 29px!important;
    padding: 13px 21px 16px 24px!important;
    box-shadow: none!important;
}
.current-user-btn img{
    width: 30px;
    height: 30px;
    vertical-align: middle;
    margin-right: 7px;
}
.logout-btn{
    box-shadow: none!important;
    border-radius: 26px!important;
    padding: 7px 14px 7px 15px!important;
}
.current-user-btn:hover, .logout-btn{
    text-decoration: none;
}
.hidden{
    display:none;
}
.user-right-widget .heading{
    border-bottom: 1px solid #E8E8E8;
    margin-bottom: 10px;
    width: 236px;
    color: #0084B4;
    padding: 10px;
    font-size: 17px;
    line-height: 15px;
}
.input-full{
    width: 100%;
}
.zmargi.form-field{
    height: 33px;
}
.textarea.form-field{
    height: 53px;
}
select.input option{
    padding: 10px;
}
.company_content_top{
    padding: 0px;
}
.company_content_top .company_info{
    margin-left: 11px;
    max-width: 350px;
    overflow: hidden;
}
.company_content_top .company_info h2{
    font-size: 28px;
    margin-top: 0px;
}
.company_info .reviews-info{
    margin: 10px 0px 10px 1px;
}
.company_info .reviews-info p{
    font-size: 14px;
    margin-left: 2px;
}
.company_info address{
    margin: 31px 0px 10px 3px;
    font-size: 16px!important;
    font-family: NotoSansRegular!important;
}
.company_content_top .other-info{
    font-family: NotoSansRegular!important;
    margin: 36px 20px 0px 0px;
}
.company_content_top .other-info .business-category{
    margin-bottom: 43px;
    color: #34B4D1!important;
}
.company_content_top .other-info .stay-connected{
    width: 300px;
    margin-top: -25px;
    margin-left: -8px;
}
.profile-widget.video img{
    width: 100%;
}
.button-group{
    margin: 10px 0px;
    padding: 10px 0px;
}
.button-group button{
    margin: 0px 10px 0px 0px;
}
ul.pagination{
    margin:0;
    padding:0;
    text-align: center;
}
ul.pagination li{
    display: inline;
    margin: 0px 5px;
}
#tabs-events .event{
    border:none;
    border-bottom: 2px solid #34B4CA;
    border-radius: 0px;
    margin: 0;
}
#tabs-events .events-list>.event:last-child{
    border-bottom: none;
}
#tabs-events .event_info{
    width:523px;
}
#tabs-events .event .slider{
    padding: 11px;
}
#tabs-events .event .slider .left-arrow, #tabs-events .event .slider .right-arrow{
    top: 57px;
}
#tabs-events .event .slider ul li img {
    width: 110.4px;
    height: 110.4px;
}
.decline.red-button{
    font-size: 13px;
    padding: 5px 10px;
}
.edit-profile-form{
    padding: 0px 10px;
}
.input-fluid{
    width: 100%;
}
.edit-profile-form .submit-btn{
    font-size: 18px;
    padding: 6px 29px;
    margin: 0px 10px 10px 0px;
}
.user-recent-feeds .result-item{
    border: none;
}
.user-recent-feeds .result-item .info{
    margin-left: 35px;
}
.user-recent-feeds .event{
    border:none;
    border-bottom: 1px solid #34B4CA;
    border-radius: 0;
}
.user-recent-feeds .events-list>.event:last-child{
    border-bottom: none;
}
.user-recent-feeds .event_info{
    width: 100%;
}
.edit-page .form-field{
    height: auto;
    min-height: 35px;
}
.textarea.form-field.editpage{
    height: 87px;
}
.form-field .img-placeholder{
    margin-bottom: 8px;
    position: relative;
}
a.cross-btn{
    position: absolute;
    cursor: pointer;
    top: 1px;
    font-size: 19px;
    line-height: 17px;
    font-weight: 600;
    right: 2px;
    color: white;
}
.hour-selector .time-input{
    margin: 0px 0px 0px 10px;
}
a.icon-plus{
    display: block;
}
.add-hour-btn{
    position: absolute;
    top: 35px;
    right: 90px;
}
#map-canvas, #static-map{
    width: 100%;
    margin:auto;
    height: 180px;
    margin: 20px auto;
    margin-top: 3px;
    font-family: Arial;
}
#map-canvas img, #static-map img{
    max-width:none;
}
.form-field.maps-container{
    height: 230px;
}
.form-field.maps-container .label{
    width: 400px;
}
textarea#blog_description{
    height: 235px;
}
a.disabled{
    cursor: default;
}
a.disabled:hover{
    text-decoration: none;
}
.dark-button{
    background: #343434;
    color: #fff;
    font-size: 14px;
    font-family: NotoSansRegular;
    padding: 4px 15px;
    border-radius: 6px;
    display: inline-block;
}
.dark-button:hover{
    text-decoration: none;
}
.one_comment.sub .a_comment{
    width: 435px!important;
}
.one_comment.sub .img-container{
    width: 35px;
    height: 35px;
}
.add-review-container .img-container{
    width: 40px;
    height: 40px;
}
.gray-small{
    font-size: 13px;
    color: #ACACAC;
}
.business-profile.reviews-container .write_comment{
    border-top: none;
    margin-top: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 10px 29px 11px 52px;
}
.business-profile.reviews-container .one_comment {
    padding: 10px 29px 11px 52px;
}
.business-profile.reviews-container .one_comment.sub .a_comment {
    width: 398px !important;
}
.events-filter{
    background: none repeat scroll 0% 0% #FFF;
    border: 1px solid #34B4CA;
    padding: 6px 10px 4px 20px;
    border-radius: 5px;
    color: #404040;
    margin: 16px 0px 0px 0px;
    font-size: 14px;
}
.events-filter .allred{
    color: #BF0D14;
    font-size: inherit;
    margin-left: 10px;
}
.events-filter a{
    color: inherit;
}
.events-filter .active{
    color: #404040;
}
.events-filter .datepicker-btn i{
    margin: -1px 0px 0px 10px;
}
.status-text{
    min-height: 50px;
    word-wrap: break-word;
}
.sprite.edit_icon{
    display: inline-block;
    width: 27px;
    height: 27px;
    background-position: -262px -281px;
    position: absolute;
    top: 0;
    right: 0;
    transition: .3s ease-in;
}
.sprite.edit_icon:hover{
    background-color: rgba(0,0,0,.6);
    transition: .3s ease-in;
}
.review-rating-button{
    margin: 0px 10px!important;
    float: none;
    font-size: 12px;
    padding: 3px 8px 3px 8px!important;
    border-radius: 3px!important;
}