@font-face {
    font-family: 'NotoSansRegular';
    src: url('notosans-regular.eot');
    src: url('notosans-regular.eot') format('embedded-opentype'),
         url('notosans-regular.woff') format('woff'),
         url('notosans-regular.ttf') format('truetype'),
         url('notosans-regular.svg#NotoSansRegular') format('svg');
}
